<%- include('../partials/auth-head.ejs') %>

<button onclick="location.href='/' " class="btn1">
  <i class="fa fa-home"></i>
</button>
<div class="appbook"></div>
<div class="main d-flex flex-column justify-content-center align-items-center">
  <div class="form-cont row">
    <div class="col-6 image-part"></div>

    <div class="apt col-6 reg d-flex flex-column">
      <img src="./images/toplogo.png" alt="logo" class="logo" />
      <div class="login-title text-center">Appointment</div>
      <form>
        <div class="row">
          <div class="form-floating col-lg-6">
            <label for="OPD">OPD</label>
            <select class="form-select form-control" id="OPD" required>
              <option selected>Select a department</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Orthopaedic">Orthopaedic</option>
              <option value="Neurologist">Neurologist</option>
              <option value="Pharmacology">Pharmacology</option>
              <option value="Otorhinolaryngology">Otorhinolaryngology</option>
              <option value="Psychiatry">Psychiatry</option>
            </select>
          </div>

          <div class="form-floating col-lg-6">
            <label for="Doctors">Doctors</label>
            <select class="form-select form-control" id="OPD" required>
              <option selected value="placeholder">Select a doctor</option>
              <!-- <optgroup label="Cardiol" class="visually-hidden"> 
              <option value="1">Cardiology</option>
              <option value="2">Orthopaedic</option>
              <option value="3">Neurologist</option>
              <option value="4">Pharmacology</option>
              <option value="5">Otorhinolaryngology</option>
              <option value="6">Psychiatry</option>
            </optgroup> -->

              <% for (let i of departments) { %>
              <optgroup label="<%= i.name %>" class="hide group">
                <% for( let j of i.doctors ) { %>
                <option value="<%= j.name %> "><%= j.name %></option>
                <% } %>
              </optgroup>
              <% } %>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-floating col-lg-6">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" required />
          </div>

          <div class="form-floating col-lg-6">
            <label for="Time">Timings</label>
            <select class="form-select form-control" id="Time" required>
              <option selected>--:-- --</option>
              <option value="1">9:30 AM</option>
              <option value="2">12:30 PM</option>
              <option value="3">3:30 PM</option>
              <option value="4">5:00 PM</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-floating col-lg-12">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="eg. 122, downing street"
              required
            />
          </div>
        </div>

        <div class="row">
          <div class="form-floating col-lg-6">
            <label for="Phone"> Phone</label>
            <input
              type="text"
              id="Phone"
              class="form-control"
              placeholder="+91 9999 99 9999"
              required
            />
          </div>

          <div class="form-floating col-lg-6">
            <label for="age">Your Age</label>
            <select class="form-select form-control" id="age" required>
              <option selected>Age</option>
              <option value="1">0-6y</option>
              <option value="2">6-18y</option>
              <option value="3">18-45y</option>
              <option value="4">45+</option>
            </select>
          </div>
        </div>

        <div class="input-group mt-4">
          <span class="input-group-text">Comments!</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <div class="mt-4">
          <button class="btn btn-primary" type="submit">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const form = document.querySelector(".reg");
  window.addEventListener("resize", () => {
    if (window.innerWidth <= 1200) {
      form.classList.add("col-12");
      form.classList.remove("col-6");
      form.classList.add("align-items-center");
    } else {
      form.classList.add("col-6");
      form.classList.remove("col-12");
      form.classList.remove("align-items-center");
    }
  });

  // validation

  const groups = document.querySelectorAll(".group");
  const opd = document.querySelector("#OPD");

  opd.addEventListener("change", () => {
    const val = opd.value;

    for (let i of groups) {
      if (i.label === val) {
        console.log("Show");
        i.classList.remove("hide");
      } else {
        i.classList.add("hide");
      }
    }
  });
</script>

<%- include('../partials/foot.ejs') %>